body {
  background-color: #0b0917;
  background-size: cover;
  margin: auto;
}

.first-row {
  color: #B789C4;
  text-align: center;
  font-size: 69px;
  display: flex;
  justify-content: center;
  flex-direction: row;
}

#title {
  padding-right: 200px;
}

.timer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.second-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.important-info-box {
  height: 19rem;
  width: 50%;
  border: 3px solid #4d4967;
  background-color: #4d4967;
}

.container{
  text-align: center;
}

.progress-container{
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-bottom: 30px;
  max-width: 100%;
  width: 900px;

}

.progress-container::before {
  content:'';/*Always needed for ::before containers*/
  background-color: #B789C4;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: 4px;
  width: 0%;
  z-index: -1;

}

.progress {
  background-color: #B789C4;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: 4px;
  width: 50%;
  z-index: 0;
  transition: .4s ease;

}

.circle {
  background-color: white;
  color: #999;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  /*/ The next three lines create a centering among us the numbers and circles /*/
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid;
  border-color: #B789C4;
  transition: .4s ease;
  z-index: 1;
}

.circle.active{
  border-color: blue;
}

.pie-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#velocity {
  --p: 69;
  --b: 10px;
  --c: purple;
}

#acceleration {
  --p: 13;
  --b: 10px;
  --c: purple;
}

#pitch {
  --p: 42;
  --b: 10px;
  --c: purple;
}

#yaw {
  --p: 99;
  --b: 10px;
  --c: purple;
}

#gyro {
  --p: 80;
  --b: 10px;
  --c: purple;
}

#roll {
  --p: 10;
  --b: 10px;
  --c: purple;
}

@property --p{
  syntax: '<number>';
  inherits: true;
  initial-value: 0;
}

.pie {
  --p:20;
  --b:22px;
  --c:darkred;
  --w:150px;
  
  width:var(--w);
  aspect-ratio:1;
  position:relative;
  display:inline-grid;
  margin:5px;
  place-content:center;
  font-size:25px;
  font-weight:bold;
  font-family:sans-serif;
}
.pie:before,
.pie:after {
  content:"";
  position:absolute;
  border-radius:50%;
}
.pie:before {
  inset:0;
  background:
    radial-gradient(farthest-side,var(--c) 98%,#0000) top/var(--b) var(--b) no-repeat,
    conic-gradient(var(--c) calc(var(--p)*1%),#0000 0);
  -webkit-mask:radial-gradient(farthest-side,#0000 calc(99% - var(--b)),#000 calc(100% - var(--b)));
          mask:radial-gradient(farthest-side,#0000 calc(99% - var(--b)),#000 calc(100% - var(--b)));
}
.pie:after {
  inset:calc(50% - var(--b)/2);
  background:var(--c);
  transform:rotate(calc(var(--p)*3.6deg)) translateY(calc(50% - var(--w)/2));
}
.animate {
  animation:p 1s .5s both;
}
.no-round:before {
  background-size:0 0,auto;
}
.no-round:after {
  content:none;
}
@keyframes p {
  from{--p:0}
}

.line-container{
  width: 300px;
  display: flex;
  flex-direction: row;
  line-height: 0;
}

.line-values {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.line-title {
  font-size: 20px;
  width:200px;
  padding-left: 10px;
  padding-right: 10px;
  color: white;
}

.line {
  background-color: red;
  height: 5px;
  width: 80%;
  z-index: 0;
  transition: .4s ease;
  border-radius: 20%;
}

.point {
  border-radius: 50%;
  height: 10  px;
  width: 15px;
  background-color: white;
  border-color: #0b0917;
  line-height: 0;
}

.line-outline {
  background-color: #4d4967;
  height: 5px;
  width: 20%;
  z-index: 0;
  transition: .4s ease;
  border-radius: 20%;
}

.line-output{
  margin-left: 10px;
  color: white;
}

